@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');

/* ----- HEADER ----- */

a {
  text-decoration: none;
}

#navbarName {
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Press Start 2P', cursive;
  font-size: larger;
}

.nav-link {
  font-weight: 500;
}
.spikes {
  position: relative;
  background: #000000;
  height: 10vh;
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #000000 25%, transparent 25%),
    linear-gradient(225deg, #000000 25%, transparent 25%);
  background-position: 0 0;
}

a:hover {
  text-decoration: none;
  color: black;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

.card {
  border: none;
}

/* ----- WELCOMEMSG ----- */

hr {
  width: 40%;
  margin: auto;
}
.portrait {
  border-radius: 10px 100px / 120px;
}
.Banner::before {
  content: '';
  width: 100%;
  height: 96px;
  display: block;
}
.gay {
  --g-red: #d04b36;
  --g-orange: #e36511;
  --g-yellow: #ffba00;
  --g-green: #00b180;
  --g-blue: #147aab;
  --g-indigo: #675997;
  background-image: linear-gradient(
    var(--g-red) 0%,
    var(--g-red) 16.6666%,
    var(--g-orange) 16.6666%,
    var(--g-orange) 33.333%,
    var(--g-yellow) 33.333%,
    var(--g-yellow) 50%,
    var(--g-green) 50%,
    var(--g-green) 66.6666%,
    var(--g-blue) 66.6666%,
    var(--g-blue) 83.3333%,
    var(--g-indigo) 83.3333%,
    var(--g-indigo) 100%
  );
  height: 40px;
}

#northcodersLogo {
  width: 10em;
}

#mmuLogo {
  width: 13em;
}

/* ----- TECHNOLOGIES ----- */

/* ----- PROJECTS ----- */

/* ----- FOOTER ----- */

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: #ec0eec;
}

.fa-linkedin-in:hover,
.fa-twitter:hover,
.fa-github:hover {
  color: #ec0eec;
}
